<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta content="ie=edge" http-equiv="x-ua-compatible">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<title>Portfolio | Обо мне</title>
		<link rel="icon" href="assets/images/favicon.ico">
		<link rel="stylesheet" href="main.min.css">
	</head>
	<body>
		<div class="preloader" id="page-preloader">
			<div class="loader"><svg class="circles" width="144" height="144">
<circle class="path" cx="72" cy="72" r="70" stroke="#fff" stroke-width="2" fill="none" />
<circle class="path1" cx="72" cy="72" r="60" stroke="#fff" stroke-width="2" fill="none" />
<circle class="path2" cx="72" cy="72" r="50" stroke="#fff" stroke-width="2" fill="none" />
</svg><span id="load_perc">0%</span>
			</div>
		</div>
		<div class="wrapper">
			<div class="maincontent">
				<header class="hero">
					<div class="hero__bg"><img class="hero__section-img" src="assets/images/welcome-bg.jpg" alt=""/>
					</div>
					<div class="hero-row">
						<div class="hero__links">
							<ul class="socials">
								<li class="socials__item"><a class="socials__link_vk socials__link" href="https://vk.com/id50684213" target="_blank">
										<svg class="socials__link-icon">
											<use xlink:href="assets/images/icons/sprite.svg#vk"></use>
										</svg></a></li>
								<li class="socials__item"><a class="socials__link_github socials__link" href="https://github.com/SergeyKurnikov" target="_blank">
										<svg class="socials__link-icon">
											<use xlink:href="assets/images/icons/sprite.svg#github"></use>
										</svg></a></li>
								<li class="socials__item"><a class="socials__link_in socials__link" href="#" target="_blank">
										<svg class="socials__link-icon">
											<use xlink:href="assets/images/icons/sprite.svg#in"></use>
										</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="section-title">
						<svg class="svg-title">
							<use xlink:href="assets/images/icons/sprite.svg#portfolio_header"></use>
						</svg>
					</div>
					<div class="hero__container">
						<div class="user">
							<div class="user__avatar" style="background-image: url(assets/images/avatar.jpg);"></div>
							<div class="user__info">
								<div class="user__name">Сергей Курников</div>
								<div class="user__desc">Личный сайт веб-разработчика</div>
							</div>
						</div>
					</div>
					<button class="hero__btn hero__btn--abs">
						<svg class="hero__btn-icon">
							<use xlink:href="assets/images/icons/sprite.svg#arrow_down"></use>
						</svg>
					</button>
				</header>
				<main class="about">
					<div class="works__triangles">
						<svg class="triangle" fill="#efeee9" viewbox="0 0 900 150" preserveAspectRatio="none">
							<polygon points="0,0 0,150 900,150"></polygon>
						</svg>
						<svg class="triangle triangle--fill" fill="#eeebdf" viewbox="0 0 900 150" preserveAspectRatio="none">
							<polygon points="0,150 900,150 900,0"></polygon>
						</svg>
					</div>
					<div class="col-overlay">
						<div class="about__col about__col_bg-white">
							<div class="about__user">
								<div class="about__title">
									<div class="section-title__about">
										<div class="overlay-svg">
											<svg class="svg-title__main">
												<use xlink:href="assets/images/icons/sprite.svg#about_header"></use>
											</svg>
											<h1 class="title">Обо мне</h1>
										</div>
									</div>
								</div>
								<div class="about__desc">
									<div class="user-desc">
										<div class="user-desc__pic" style="background-image: url(assets/images/avatar.jpg);"></div>
										<div class="user-desc__info">
											<h2 class="title title--subtitle">Кто я</h2>
											<div class="user-desc__text text-block">
												<p class="one">Я веб разработчик из Новосибирска. Мне 28 лет. </p>Я занимаюсь разработкой современных сайтов
												и приложений. Мне нравится делать интересные 
												и современные проекты.
												<p class="two">Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. </p>Чуть позже я освежу в нём
												свой контент. А пока посмотрите, как тут всё 
												классно и красиво!
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="about__col about__col_bg-beige">
							<div class="about__right-title">
								<h2 class="title title--subtitle title--nomargin">Чем я могу быть </h2><span class="title--text-down">Вам полезен</span>
							</div>
							<div class="about__small-desc text-block">
								<p>Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.</p>
							</div>
							<div class="about__info-container">
								<div id="skills-component"></div>
							</div>
						</div>
					</div>
					<section class="contacts">
						<div class="contacts__overlay">
							<div class="google-map" id="map"></div>
							<div class="contacts__container">
								<div class="user-data">
									<h2 class="user-data__title title title--subtitle">Контакты</h2>
									<div class="user-data__container">
										<ul class="user-contacts-list">
											<li class="user-contacts-list__item">
												<div class="contacts-cell">
													<div class="contacts-cell__icon"><a class="socials__link_kur.ser socials__link-contact" href="skype:kur.ser">
															<svg class="svg__socials-contact">
																<use xlink:href="assets/images/icons/sprite.svg#skype"></use>
															</svg></a></div><a class="socials__link_kur.ser contacts-cell__title" href="skype:kur.ser">kur.ser</a>
												</div>
											</li>
											<li class="user-contacts-list__item">
												<div class="contacts-cell">
													<div class="contacts-cell__icon"><a class="socials__link_kur.ser@mail.ru socials__link-contact" href="mailto:kur.ser@mail.ru">
															<svg class="svg__socials-contact">
																<use xlink:href="assets/images/icons/sprite.svg#mail"></use>
															</svg></a></div><a class="socials__link_kur.ser@mail.ru contacts-cell__title" href="mailto:kur.ser@mail.ru">kur.ser@mail.ru</a>
												</div>
											</li>
											<li class="user-contacts-list__item">
												<div class="contacts-cell">
													<div class="contacts-cell__icon"><a class="socials__link_+7 920 654 25 25 socials__link-contact" href="tel:+7 920 654 25 25">
															<svg class="svg__socials-contact">
																<use xlink:href="assets/images/icons/sprite.svg#phone"></use>
															</svg></a></div><a class="socials__link_+7 920 654 25 25 contacts-cell__title" href="tel:+7 920 654 25 25">+7 920 654 25 25</a>
												</div>
											</li>
											<li class="user-contacts-list__item">
												<div class="contacts-cell">
													<div class="contacts-cell__icon"><a class="socials__link_г.Новосибирск, ул. Инская, д. 5 socials__link-contact" href="https://www.google.com/maps/@55.5408025,42.2065814,17z?hl=ru-RU">
															<svg class="svg__socials-contact">
																<use xlink:href="assets/images/icons/sprite.svg#map_marker"></use>
															</svg></a></div><a class="socials__link_г.Новосибирск, ул. Инская, д. 5 contacts-cell__title" href="https://www.google.com/maps/@55.5408025,42.2065814,17z?hl=ru-RU">г.Новосибирск, ул. Инская, д. 5</a>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</section>
				</main>
				<footer class="footer">
					<div class="footer__row footer__row_border_bottom">
						<div class="footer__col footer__col--70">
							<nav class="menu">
								<ul class="menu__list" id="menu__list">
									<li class="menu__item"><a class="menu__link" href="works.html">Мои работы</a></li>
									<li class="menu__item menu__item_active"><a class="menu__link" href="about.html">Обо мне</a></li>
									<li class="menu__item"><a class="menu__link" href="blog.html">Блог</a></li>
									<li class="menu__item"><a class="menu__link" href="login.html">Авторизация</a></li>
								</ul>
							</nav>
						</div>
						<div class="footer__col footer__col_justify_right footer__col--none2">
							<ul class="socials socials_rounded">
								<li class="socials__item--border"><a class="socials__link_vk socials__link" href="https://vk.com/id50684213" target="_blank">
										<svg class="svg__socials-footer">
											<use xlink:href="assets/images/icons/sprite.svg#vk"></use>
										</svg></a></li>
								<li class="socials__item--border"><a class="socials__link_github socials__link" href="https://github.com/SergeyKurnikov" target="_blank">
										<svg class="svg__socials-footer">
											<use xlink:href="assets/images/icons/sprite.svg#github"></use>
										</svg></a></li>
								<li class="socials__item--border"><a class="socials__link_in socials__link" href="#" target="_blank">
										<svg class="svg__socials-footer">
											<use xlink:href="assets/images/icons/sprite.svg#in"></use>
										</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="footer__row footer__row--tablets">
						<div class="footer__col footer__col--none">
							<div class="copyright">
								<p>Я веб-разработчик из Навашино, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. </p>
							</div>
						</div>
						<div class="footer__col footer__col_justify_right footer__col--100">
							<div class="copyright copyright--right">
								<p>© Сергей Курников | создано с любовью в LoftSchool | 2019</p>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
		<div class="modal" id="modalForm"></div>
		<button class="hamburger-menu-link" id="hamburger-menu-link">
			<div class="hamburger-menu__bars"></div>
		</button>
		<div class="hamburger-menu" id="hamburger-menu">
			<div class="hamburger-menu__items">
				<nav class="burger-menu">
					<ul class="burger-menu__list" id="burger-menu__list">
						<li class="burger-menu__item"><a class="burger-menu__link" href="works.html">Мои работы</a></li>
						<li class="burger-menu__item burger-menu__item_active"><a class="burger-menu__link" href="about.html">Обо мне</a></li>
						<li class="burger-menu__item"><a class="burger-menu__link" href="blog.html">Блог</a></li>
						<li class="burger-menu__item"><a class="burger-menu__link" href="login.html">Авторизация</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<script type="text/x-template" id="skills-list">
			<ul class="skills">
				<li class="skills__item" v-for="skillsGroupObj in skills">
					<skills-row :skillsGroupObj="skillsGroupObj"></skills-row>
				</li>
			</ul>
		</script>
		<script type="text/x-template" id="skills-item">
			<div class="skills-row">
				<div class="skills-row__title">{{skillsGroupObj.skillsGroup}}</div>
				<ul class="skills-row__list">
					<li class="skills-row__item" v-for="(skillPercentage, skillTitle) in skillsGroupObj.skills">
						<skill :skillPercentage="skillPercentage" :skillTitle="skillTitle"></skill>
					</li>
				</ul>
			</div>
		</script>
		<script type="text/x-template" id="skill">
			<div class="skill">
				<div class="skill__circle">
					<svg class="skill__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
						<circle class="skill__circle skill__circle_under" cx="50" cy="50" r="40"></circle>
						<circle class="skill__circle skill__circle_above" cx="50" cy="50" r="40" ref="circle"></circle>
					</svg>
					<div class="skill__title">{{skillTitle}}</div>
				</div>
			</div>
		</script>
		<script type="text/x-template" id="slider-root">
			<div class="slider">
				<info :work="currentWork"></info>
				<display :work="currentWork"></display>
				<btns :works="works" :index="currentIndex" @slide="handleSlide"></btns>
			</div>
		</script>
		<script type="text/x-template" id="slider-info">
			<div class="slider__info-container">
				<div class="slider__info">
					<div class="slider__info-title">
						<h2 class="title title--subtitle title--nomargin">{{work.title}}</h2>
						<div class="slider__info-skills">{{work.skills}}</div>
						<div class="slider__info-button"><a class="link__ls" :href="work.link" target="_blank">
								<div class="link__ls-image">
									<svg class="link">
										<use xlink:href="assets/images/icons/sprite.svg#link"></use>
									</svg>
								</div>
								<div class="link__ls-text">Посмотреть сайт</div></a></div>
					</div>
				</div>
			</div>
		</script>
		<script type="text/x-template" id="slider-display">
			<div class="slider__display"><img class="slider__big-pic" :src="work.photo" alt=""></div>
		</script>
		<script type="text/x-template" id="slider-btns">
			<div class="slider__buttons">
				<div class="slider__button" @click="slide('prev')">
					<div class="slider__button-container"><img class="slider__button-pic" :src="prevButtonWorks[index].photo" alt="">
						<button class="btn-slider btn-slider--up">
							<svg class="arrow">
								<use xlink:href="assets/images/icons/sprite.svg#arrow_down"></use>
							</svg>
						</button>
					</div>
				</div>
				<div class="slider__button" @click="slide('next')">
					<div class="slider__button-container"><img class="slider__button-pic" :src="nextButtonWorks[index].photo" alt="">
						<button class="btn-slider btn-slider--down">
							<svg class="arrow arrow--up">
								<use xlink:href="assets/images/icons/sprite.svg#arrow_down"></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</script>
		<script src="about.bundle.js"></script>
	</body>
</html>