footer.footer
	.footer__row.footer__row_border_bottom
		.footer__col
			+nav('menu', ['Мои работы', 'Обо мне', 'Блог', 'Авторизация'], number, ['/works.html', '/about.html', '/blog.html', '3'])
		.footer__col.footer__col_justify_right
			+socials-round(["vk", "github", "in"], '', ["https://vk.com/id50684213", "https://github.com/SergeyKurnikov", "#"]) 
	.footer__row
		.footer__col
			.copyright
				p Я веб-разработчик из Навашино, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
		.footer__col.footer__col_justify_right
			.copyright
				p © Сергей Курников | создано с любовью в LoftSchool | 2019