button.hamburger-menu-link(id="hamburger-menu-link")
  .hamburger-menu__bars
.hamburger-menu(id="hamburger-menu")
  .hamburger-menu__items
    +nav('burger-menu', ['Мои работы', 'Обо мне', 'Блог', 'Авторизация'], number, ['works.html', 'about.html', 'blog.html', 'login.html'])
