include ./common/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    title Portfolio | #{title}
    link(rel='icon' href='assets/images/favicon.ico')
    link(rel='stylesheet' href='main.min.css')
  body.scroll-none
    block content

    script(src='index.bundle.js')
    block scripts