.blog{
	position: relative;
	bottom: 330px;
}

.works__triangles--white {
	fill: #fff;
}

.articles{
	background-color: #fff;
	display: flex;
	padding-top: 100px;
	margin-bottom: -180px;
	@include laptop{
		padding-left: 40px;	
	}
	@include laptop{
		padding-top: 50px;	
	}	
}

.text{
	max-width: 880px;
	margin-bottom: 20px;
	// padding-bottom: 20px;
}

.text__title{
	text-transform: uppercase;
	color: #455a64;
	font-family: 'bernier';
	font-size: 35px;
	font-weight: 400;
	margin-bottom: 28px;
	@include	tablets{
		font-size: 26px;	
	}
}

.text__date{
	display: block;
	opacity: 0.7;
	color: #00bfa5;
	margin-bottom: 25px;
}

.text__info{
	margin-bottom: 10px;
}

.overlay{
	@include medtop{
		padding-right: 40px;
		margin-bottom: 20px;
	}
	@include laptop{
		padding-right: 40px;
		margin-bottom: 20px;
	}
}