.google-map {
	background-image: url(assets/images/map-bg.jpg);
	background-size: cover;
	height: 1076px;
	width: 100%;
	position: relative;
	margin-bottom: -170px;
}

.contacts__overlay {
	position: relative;
}

.contacts__container {
	width: 380px;	
	// height: 330px;	
	background-color: #fcfcfc;
	opacity: 0.85;
	position: absolute;
	top: 50%; left: 50%;
  transform: translate(-50%,-50%);
	z-index: 10;
	// text-align: center;
}

.user-data__title {
	margin-top: 35px;
}
.user-contacts-list{
	margin-bottom: 40px;
	margin-left: 40px;		
}

.user-contacts-list__item {
	margin-bottom: 28px;
}
.contacts-cell__title {
	opacity: 0.8;
	color: #455a64;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
}
.contacts-cell {
		display: flex;	
}
.contacts-cell__icon {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	// display: flex;
}

.svg__socials-contact {
	fill: #00bfa5;
	width: 100%;	
	height: 100%;	
}