.hamburger-menu-link{
  vertical-align: middle;
  height: 22px;
  align-items: center;
  // margin-left: 30px;
  display: flex;
  position: fixed;
  top: 32px;
  right: 35px;
  z-index: 20;
  background-color: transparent;
  outline: none;
  &:hover{
    .hamburger-menu__bars, .hamburger-menu__bars:after, .hamburger-menu__bars:before{
      background: #fff;
      transition: .3s;
    }
  }
  &:focus{
    .hamburger-menu__bars, .hamburger-menu__bars:after, .hamburger-menu__bars:before{
      background: beige;
    }
  }
  &:active{
    .hamburger-menu__bars, .hamburger-menu__bars:after, .hamburger-menu__bars:before{
      background: #268b8a;
    }
  }
}

.hamburger-menu__bars{
  &, &:before, &:after{
    background: #eaf2f2;
    width: 35px;
    height: 5px;
    border-radius: 3px;
    z-index: 20;
    cursor: pointer;
    transition: transform .25s ease;
  }   
  &:before, &:after{
    content: "";
    display: block;
    position: absolute;
  }
  &:before{
    top: -5px;
  }
  &:after{
    bottom: -5px;
  }
}


.hamburger-menu-link.is-active{
  top: 32px;
  right: 35px;
  .hamburger-menu__bars{
    background: transparent;
    &:before{
      transform: translateY(19px) translateX(0) rotate(45deg);
      border-radius: 5px;
    }
    &:after{
      transform: translateY(-7px) translateX(0) rotate(-45deg);
      border-radius: 5px;
    }
  }
}

.hamburger-menu{
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(32, 181, 161, 0.85);
  align-items: center;
  justify-content: center;
  z-index: 19;
  transition: opacity .3s;
  height: 100vh;
}

.is-active{
  display: flex;
  opacity: 1;
  // left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  // z-index: 20;
}

@keyframes pulse{
  from{
    transform: scale3d(1, 1, 1);
  }

  50%{
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to{
    transform: scale3d(1, 1, 1);
  }
}

.pulse, .pulse:after{
  animation: pulse 1s;
}

.burger-menu__list{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.burger-menu__item{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 700px; 
}

.burger-menu__link{
  font-family: 'bernier';
  color: #fff;
  font-size: 63px;
  letter-spacing: 1.57px;
  width: 100%;
  margin-bottom: 46px;
  &:hover{
    text-decoration: underline;
  }
  &:focus{
    color: beige;
  }
  &:active{
    color: #268b8a;
  }
}

.burger-menu__link::before, .burger-menu__link::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 5px;
  background-color: #fff;
  margin: 0 14px;
  opacity: 0.2;
}