.welcome{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(assets/images/welcome-bg.jpg) center center/cover no-repeat;
}

.welcome__container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 381px;
}

.user--width{
	width: 100%;
	background-color: #fcfcfc;
	opacity: 0.85;
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.user__name--color {
	color: #455a64;
	font-size: 28px;
}

.user__desc--color{
	color: #455a64;
	margin-bottom: 35px;
}

.socials__link-icon--color{
	fill: #00bfa5;
	opacity: 0.5;
}

.socials__link:hover, .socials__link:focus {
	.socials__link-icon--color {
		fill: #00bfa5;
		opacity: 1;
	}
}

.socials__link:active{
	.socials__link-icon--color {
		fill: #268b8a;
	}
}

.hero__links--bottom{
	margin-bottom: 35px;
}

.link-welcome__list{
	display: flex;
}
.link-welcome__item{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #20b5a1;
	height: 45px;
	cursor: pointer;
	width: 127px;
	position: relative;
	transition: .3s;
}

.link-welcome__link{
	color: #fff;
}

.link-welcome__item:not(:last-child)::after{
	content: '';
	display: block;
	position: absolute;
	top: 0;	
	left: 99%;
	width: 2px;
	height: 100%;
	background-color: rgba(222,227,231,.5);
}

.link-welcome__item:hover, .link-welcome__item:focus {
	background-color: #058981;
}

.link-welcome__item:active{
	.link-welcome__link{
		color: #455a64
	}
}

.copyright--welcome{
	padding: 0;	
	margin: 0;
	position: absolute;
	top: 96%;
	left: 50%;
	transform: translate(-50%, -96%);
	display: flex;	
	justify-content: center;
}

.button__login{
	border: 1px solid #fff;
	cursor: pointer;
	background-color: transparent;
	height: 45px;
	width: 180px;
	color: #fff;
	font-family: Roboto;
	border-radius: 5px;
}

.button__login--position{
	position: absolute;
	top: 3%;
	left: 96%;
	transform: translate(-96%, -3%);
}

.button__login:hover, .button__login:focus{
	background-color: #fff;
	color: #20b5a1;
	transition: .3s;
}

.button__login:active{
	color: #455a64;
}
