.works{
	position: relative;
	bottom: 200px;
}

.works__row{
	@include tablets{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}
}

.works__col{
	padding: 40px 0;	
}

.works__title{
	background-color: #faf8f0;
	display: flex;
	justify-content: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.title--width{
	min-width: 400px;
}

.svg-title__main--size{
	width: 506px;
	height: 165px;
	left: 50%; top: 50%;
	transform: translate(-50%,-50%);
}

.about__col--center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.desc {
	display: flex;
	justify-content: center;
	width: 402px;
	border-bottom: 2px solid rgba(#009688, 0.3);
	border-top: 2px solid rgba(#009688, 0.3);
	color: #20b5a1;
	font-weight: 500;
	padding-bottom: 19px;
	padding-top: 19px;
	margin-bottom: 40px;
}

.link__ls{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #20b5a1;
	width: 199px;
	height: 45px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	@include tablets{
		cursor: none;
	}
}

.link__ls:hover, .link__ls:focus{
	background-color: #016171;
	transition: .3s;
}

.link__ls:active{
	background-color: #016171;
	color: #20b5a1;
	.link{
		fill: #20b5a1;
	}
}

.link__ls-image{
	width: 20px;
	height: 20px;
	margin-right: 11px;
}

.link{
	width: 20px;
	height: 20px;
	fill: #fff;
}

.works__row {
	display: flex;
}

.main__work{
	height: 525px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.add-work__row{
	display: flex;
	width: 100%;	
	position: relative;
}

.add-work__col{
	width: 50%;
	// height: 91%;
	position: relative;
	float: left;
	// @include medtop{
	// 	// width: 80%;
	// 	height: 80%;			
	// }
	// @include laptop{
	// 	// width: 100%;
	// 	height: 80%;			
	// }
}

.work-image__row{
	width: 100%;
	height: 100%;
	// @include medtop{
	// 	width: 80%;
	// 	height: 80%;	
	// }
}

.work-image{
	@include laptop{
		width: 80%;
	}
}

.btn-slider{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;
	outline: none;
	&:hover {
		.arrow {
			width: 56px;
			height: 35px;
			transition: .3s;
		}
	}
	&:focus{
		.arrow{
			fill: #00bfa5;
		}
	}
	&:active{
		.arrow{
			fill: #268b8a;
		}
	}
	@include tablets{
		cursor: none;
	}
}

.btn-slider--up{
 background-color: rgba(182, 180, 174, 0.7);
}

// .btn-slider--up:hover{
// 	border-radius: 50%;
// 	width: 70px;
// 	height: 70px;
// 	transition: .7s;
// }

.btn-slider--down{
 background-color: rgba(136, 131, 114, 0.5);
}

.arrow{
	width: 43px;
	height: 27px;
	fill: #fff;
	opacity: 0.7;
}

// .arrow:hover{
// 	width: 56px;
// 	height: 35px;
// 	transition: .3s;
// }

.arrow--up{
	transform: rotate(-180deg);
}

.title--up{
	top: 40%;
}

.title--down{
	top: 80%;
}

.title--down::before, .title--down::after{
	display: none;
}

.feedback{
	background-image: url(assets/images/bg.png);
	background-size: cover;
	height: 1340px;
	margin-bottom: -200px;
	display: flex;
	flex-direction: column;
	@include tablets{
		height: 1000px;
	}
}

.overlay-svg--nomargin{
	width: 500px;
	height: 175px;
	margin: 25px auto 45px;
}

.about__title--feedback{
	width: 100%;
	position: relative;
	@include tablets{
		display: none;
	}
}

.title--visual{
	color: #373e42;
	font-size: 63px;
	position: absolute;
	left: 50%; top: 80%;
	transform: translate(-50%,-50%);
}

.svg-title__main--width{
	width: 500px;
	height: 175px;
}

.feedback__col-overlay{
	display: flex;
	margin-bottom: 60px;
	justify-content: center;
	@include tablets{
		display: none;	
	}
}

.feedback__col{
	// @include tablets{
	// 	width: 100%;	
	// }
}

.feedback__col--right{
	margin-right: 37px;
	@include tablets{
		margin-right: 0;
		margin-bottom: 37px;
	}
}
.svg-marks{
	opacity: 0.2;
	fill: #373e42;
	width: 33px;
	height: 29px;
	margin-bottom: 15px;
}

.feedback__user{
	display: flex;
	align-items: center;
}

.feedback__text{
	width: 370px;
	line-height: 26px;
	text-align: left;
	margin-bottom: 27px;
}

.feedback__avatar{
	width: 77px;
	height: 77px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	margin-right: 30px;
}

.feedback__name{
	font-weight: 700;
	color: #20b5a1;
}

.feedback__desc{
	color: #20b5a1;
}

.container--form{
	width: 380px;
	@include tablets{
		margin-top: 200px;
	}
}

.login__form--fedback{
	background-color: rgba(218,219,214,.6);
	margin-bottom: 70px;
}

.label{
	display: none;	
}

.input{
	width: 340px;
	height: 45px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid transparent;
	padding: 16px 20px;	
}

.input:focus{
	border: 1.5px solid #268b8a;
	outline: 0;
}

.form-text{
	height: 140px;
	resize: none;
}

.button__row{
	display: flex;
}

.button__form-left--color, .button__form-right--color{
	&:hover {
		background-color: #26bbaa;
	}
	&:focus{
		background-color: #26bbaa;
	}
	&:active{
		color: #268b8a;
	}
}

.button__form-left::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;	
	left: 99%;
	width: 2px;
	height: 100%;
	background-color: rgba(222,227,231,.5);
}

// .button__form:hover{
// 	.button__form-left--color, .button__form-right--color{
// 		background-color: #26bbaa;
// 	}
// }

.hero__btn--rotate{
	transform: rotate(-180deg);
}